.contact-info-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.13);
  padding: 100px 60px;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
  position: relative;
  bottom: 250px;
  background-color: white;
}
.contact-info-item {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 50px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.contact-info-item-icon {
  text-align: center;
  color: #8bc34a;
  padding-bottom: 20px;
  font-size: 1.4em;
}
.contact-info-item-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.contact-info-item-text h4 {
  font-size: 16px;
  font-weight: 500;
}
.faq-item {
  margin-bottom: 20px;
  z-index: 2;
  width: 45%;
}
.faq-question {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 16px;
  font-weight: 700;
}

.faq-answer {
  display: block;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
}
.faq-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.contact-header {
  width: 100%;
  text-align: center;
  font-size: 52px;
  padding-bottom: 200px;
}
.contact-img {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 150px;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .contact-info-item-container {
    padding: 100px 10px;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contact-info-item-container {
    flex-direction: column;
    padding: 50px 10px;
  }
  .faq-items {
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
  }
  .faq-item {
    width: 100%;
  }
  .contact-info-item:nth-child(1) {
    margin-top: 40px;
  }
}
